@tailwind base;
@tailwind components;
@tailwind utilities;

.Toastify__toast--success {
  background: #74c8b7;
}

.Toastify__toast--warning {
  background: #fedb7b;
}

.Toastify__toast--error {
  background: #ed768c;
}
